body {
    background: #141E30;
    color: white;
}
.mate {
    position: absolute;
    left: 210px;
    top: 520px;
    width: 200px;
    height: 280px;
}
.zsombi {
    width: 200px;
    height: 280px;
    position: absolute;
    top: 520px;    
}
.m {
    position: absolute;
    left:210px;
    top: 480px;
}
.zs {
    position: absolute;
    top: 480px;
}
.a {
    position: absolute;
    top:480px;
    left:410px;
}
h1 {
    text-align: center;
}
.alex {
    position: absolute;
    top: 520px;
    left: 410px;
    width: 200px;
    height: 250px;
}